@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');
.searchbar{
    display: flex;
    justify-content: center;
}
.textHeight{
    max-height: 1.8rem;
    overflow: hidden;
}
.cuisines{
    width:45%;
    margin: 1vw;

    /* margin-bottom:2vw ;
    margin-right: 1vw; */
    border: 2px dashed #a8a39d;
    border-radius: 15%;
    font-family: 'Lilita One', cursive;
    background-color:#e2ddd9;
    font-size: 2rem;
    transition: transform 0.2s ease-in-out;
}
.cuisines:hover{
    transform: scale(1.1);
}
.hovering{
    transition: transform 0.2s ease-in-out;
}
.hovering:hover{
    transform: scale(1.1);
    color:black;
    background-color: #a7dbd8;
}
.cuisine-img{
    height: 17vh;
    width: 22vh;
    border-radius: 14%;
    border: 2px solid #c06c84;
}
.searchBar{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.inputSearch{
    border: 2px solid #2a2829;
    border-radius: 5%;
}
.submitbtn{
    background-color: #668284;
    padding: 1.4vh;
    margin-left: 2vh;
    border-radius: 50%;
}
.query{
    color:#668284;
    font-style: italic;
}
.headingStyles{
    font-family: 'Young Serif', serif;
    color:#2e1437;
    margin-top: 1rem;
}
.rest{
    
    padding: 1rem;
    
}
.restCol{
    padding: 1rem;
    border:2px solid #668284;
    background-color: #f8f4e9;
    width: 27%;
    margin: 2rem;
    border-radius: 7%;
    transition: transform 0.2s ease-in-out;
}
.restCol:hover{
    color:#fff;
    transform: scale(1.1);
    background-position:center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHJlc3RhdXJhbnQlMjBibHVyJTIwaW1hZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60");
}
.restCol:hover .inner{
    color:#fff;
    justify-content: flex-start;
}

.inner{
    display: flex;
    justify-content: space-between;
    font-family: 'Lobster', cursive;
    color:#092b5a;
    font-size:2vw;
}
.recipeDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeDesc h3{
    color:#0d6759;
    text-align: center;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
    align-items: center;
    padding:3% 0%;
    font-size:2.5rem;
}
.recipeDesc img{
    width:55%;
    margin-bottom: 2%;
    box-shadow: 3px #668284;
}
.recipeDesc h5{
    border-radius: 2%;
    padding:0% 5%;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}
.recipeDesc h5:hover{
    color:#1f6764;
}
.loader{
    padding-left:42vw;
    text-align: center;
}
.cuisineName{
    text-align: center;
    text-transform: uppercase;
}
.cuisineRecipe{
    display: flex;
    flex-direction: column;
    
}
.cuisineText{
    height: 11vh;
    overflow: hidden;
}
.footerText{
    color:#ccd91a;
    font-family: 'Montserrat', sans-serif;
}
.footerMain{
    margin-top: 1rem;
    background-color: #12161e;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-icon{
    color: #f8f4e9;
    /* margin: 0vw 3vw 0vw; */
    font-size: 1.7rem;
    height: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
}
.icons{
    display: flex;
    flex-direction: row;
}
.restaurant-list{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    background-color: #d0d7d5;
    box-shadow: 3px #668284;
    border-bottom: 3px #668284;
    font-family: 'Onest', sans-serif;
    border-radius: 4%;
}

/* .restaurant-inner{
    padding: 0rem 2rem;
} */
.restaurant-inner p{
    padding: 0rem 1.5rem;
    font-family: 'Onest', sans-serif;
}
.rest-city{
    padding: 0rem 1.5rem;
    font-family: 'Onest', sans-serif;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: flex-end;
    text-transform: uppercase;
}
.rest-city h6{
    font-family: 'Onest', sans-serif;
    margin:0.5vw;
    background-color: #668284;
    padding:0.5vw;
    border-radius: 5%;
}
.filter-rows{
    display: flex;
    justify-content: flex-end;
}
.filter-rows Button{
    margin:1vw;
}